header {
  display: flex;
  align-items: center;
  justify-content: justify;
  background-color: #333;
  color: #fff;
  height: 100px;
  padding: 15px;

}

header img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 3fr);
  grid-gap: 50px;
  padding: 50px;
}

.grid-item {
  background-color: #7e7e7e;
  padding: 20px;
  text-align: center;
  color: white;
}

.grid-item h3 {
  margin-top: 0;
  color: rgb(228, 78, 78);
  background-color: #333;
  font-size: 100;
}

.grid-item p {
  margin-bottom: 10;
}

.grid-item a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #f7f7f7;
  background-color: #333;
  font-weight: bold;
  border: solid;
}

.grid-item a:hover {
  color: #fff;
  background-color: #333;
}
