body {
  background-color: aliceblue;
  color: black;
  padding: 1rem;
}
.titulo {
  background-color: grey;
  color: whitesmoke;
  font-size: 30px;
  text-align: center;
}
div {
  float: left;
}
p{
  float: right;
}