@media (max-width;414px)
img{
  height:250px;
  width: 250px;

}
.Imagem01{
 float: left; 
}
.imagem02{
  float: right;
}
div{
  height: 250px;
  border: 1px solid black;
}
.secaoimg01{
  float: left;
}
.secaoimg02{
  float: left;
}
.secaoparagrafo02{
clear: left;
}
#secao1{
  width: 300px;
  height: 200px;
  padding: 50px;
  border: 1px solid red;
  box-sizing: border-box;
}
#secao2{
  width:300px;
  height: 200px;
  padding: 50px;
  border: 1px solid blue;
  box-sizing: border-box;
}