body{
    font-size: 1rem;
    font-family: 'Roboto Mono', monoespaçado;
    width:700px;
    background-color: #b3e9f3;
}
h1{
    background-color: #6590d1;
    text: shadow 3px #48789f;
}
img{
    height:500px;
    width: 700px;

}