#Corpo{
    background-color:grey;

}

#Titulo{
    color:blue;
    height:;
    width: ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 15px;
    box-shadow: 25%;
}
img {
    height: 100%;
    width: 30%;
}