body{
    width:80%;
    margin: auto;
    padding: 30px;
    font: size 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;}
*{
    padding: 0px;
}
img{
    width: 100px;
    height: 100px;
}
